section{
  background-image: url(https://images.unsplash.com/photo-1533035353720-f1c6a75cd8ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHdoaXRlJTIwdHJhbnNwYXJlbnQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
 }

.home_btn {
    font-weight: bold;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
    background-color: #ccc7c7;
  }
  
  .home_btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  
   img {
    height: 200px;
    width: 160px;
    margin: 30px;
  }
  
  /* .myName {
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15rem solid  #b3e5fc;
    animation: typing 2s steps(20, end) 1 forwards, blink 2s infinite;
    -webkit-animation: typing 2s steps(20, end) 1 forwards, blink 2s infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    from {
      background-color: transparent;
    }
    to {
      color:#16a085;
    }
  }
   */
  